$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$brand:#FFA102;
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  color: #606060;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  background-color: #f7f7f7;
  overflow-x: hidden;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  line-height: 26px;
  font-weight: 300;
}

a, a:hover, a:focus {
  color: #606060;
}

h1{
  font-family: 'Permanent Marker', cursive;
  background:#FFA102;
  background: -webkit-linear-gradient(left, #FF9800, #FFE058); // We will need to generate gradient colors to complement the background.
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4em;
  padding-top: 0.5em;
  text-shadow: 0 2px 5px RGBA(255, 161, 2, .5);

}

h2, .date {
  line-height: normal;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-style: normal;
  text-align: center;
  font-size: 1.5em;
}

td img{
  border-radius: 20em;
}

tbody tr:hover {
  background-color: #F0F0F0;
}

.cta{
  margin-top: 3em;
  margin-bottom: 6em;
  background-color: white;
}

.cta h2{
  margin-bottom: 1em;
}

.text-branded {
  color: $brand;
}

.cta h5{
  margin-top: 1em;
}

.btn-primary{
  color: white;
  background-color: $brand;
  border: none;
  font-weight: bold;
}

.btn-primary:hover{
  background-color: #f19700;
}

.arrow-right, .arrow-left {
  color: $brand;
}

.arrow-right.now {
  color: LightGray;
}
