<div class="row">
   <div class="col-md-12 text-center">
     <h1>the SHOWDOWN</h1>
     <small>Powered by <strong class="text-branded">Nudge</strong></small>
     <div class="row date" ng-if="startDate">
        <strong class="arrow-left" ng-click="changeDate(true)">&#60;&nbsp;</strong>
        <span>{{startDate*1000 | date:'MMM dd'}} - {{endDate*1000 | date:'MMM dd'}}</span>
        <strong class="arrow-right" ng-click="changeDate(false)" ng-class="{now: now}">&nbsp;&#62;</strong>
      </div>
      <div ng-if="!now">
        <h1 ng-if="!now" class="text-branded">Winner: {{companies[0].name}}</h1><br/><br/>
      </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div class="row">
        <company-panel company="company" ng-repeat="company in companies" />
      </div>
    </div>
    <div id="trash-talk" class="col-md-4 col-sm-12">
      <a class="twitter-timeline" href="https://twitter.com/hashtag/stepshowdown" data-widget-id="611708674072031232">#stepshowdown Tweets</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="cta jumbotron text-center">
        <h3><small>Track your Health, Track your Progress</small></h3>
        <h2>Get <span class="text-branded">Nudge</span></h2>
         <a href="https://www.nudgeyourself.com" class="btn btn-primary btn-lg" target="_blank">Learn more about Nudge</a>
        <h5><small>Available on iOS and Android devices</small></h5>
      </div>
    </div>
  </div>
</div>