<div class="row">
   <div class="col-md-12 text-center">
   <h1>the SHOWDOWN</h1>
   <small>Powered by <strong class="txt-branded">Nudge</strong></small>
    <h2>2015/04/27 - 2015/05/03</h2>
    <br/>
  </div>
  <div class="row">
  <div class="col-md-4">
    <table class="table table-hover">
      <thead>
        <tr>
        <th>Nudge</th>
        <th></th>
        <th></th>
        <th class="text-right">4589</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="https://www.nudgeyourself.com/uploads/userpic/542ae6f6773a0842679994.jpg" width="30" height="30"/></td>
          <td>Mac Gambil</td>
          <td></td>
          <td class="text-right">7057</td>
        </tr>
        <tr>
          <td><img src="https://www.nudgeyourself.com/uploads/userpic/542c26afe6bee686658802.jpg" width="30" height="30"/></td>
          <td>Chris Garson</td>
          <td></td>
          <td class="text-right">6945</td>
        </tr>
        <tr>
          <td><img src="https://www.nudgeyourself.com/uploads/userpic/53347839b7036260927784.jpg" width="30" height="30"/></td>
          <td>Phil Beene</td>
          <td></td>
          <td class="text-right">3789</td>
        </tr>
        <tr>
          <td><img src="https://www.nudgeyourself.com/uploads/userpic/54419e52e7fe3886328786.jpg" width="30" height="30"/></td>
          <td>Joe Fatora</td>
          <td></td>
          <td class="text-right">566</td>
        </tr>
      </tbody>
    </table>
  </div>
   <div class="col-md-4">
    <table class="table table-hover">
      <thead>
        <tr>
        <th>Nudge</th>
        <th></th>
        <th></th>
        <th class="text-right">4589</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="https://www.nudgeyourself.com/uploads/userpic/542ae6f6773a0842679994.jpg" width="30" height="30"/></td>
          <td>Mac Gambil</td>
          <td></td>
          <td class="text-right">7057</td>
        </tr>
        <tr>
          <td><img src="https://www.nudgeyourself.com/uploads/userpic/542c26afe6bee686658802.jpg" width="30" height="30"/></td>
          <td>Chris Garson</td>
          <td></td>
          <td class="text-right">6945</td>
        </tr>
        <tr>
          <td><img src="https://www.nudgeyourself.com/uploads/userpic/53347839b7036260927784.jpg" width="30" height="30"/></td>
          <td>Phil Beene</td>
          <td></td>
          <td class="text-right">3789</td>
        </tr>
        <tr>
          <td><img src="https://www.nudgeyourself.com/uploads/userpic/54419e52e7fe3886328786.jpg" width="30" height="30"/></td>
          <td>Joe Fatora</td>
          <td></td>
          <td class="text-right">566</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <table class="table table-hover">
      <thead>
        <tr>
        <th>Nudge</th>
        <th></th>
        <th></th>
        <th class="text-right">4589</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="https://www.nudgeyourself.com/uploads/userpic/542ae6f6773a0842679994.jpg" width="30" height="30"/></td>
          <td>Mac Gambil</td>
          <td></td>
          <td class="text-right">7057</td>
        </tr>
        <tr>
          <td><img src="https://www.nudgeyourself.com/uploads/userpic/542c26afe6bee686658802.jpg" width="30" height="30"/></td>
          <td>Chris Garson</td>
          <td></td>
          <td class="text-right">6945</td>
        </tr>
        <tr>
          <td><img src="https://www.nudgeyourself.com/uploads/userpic/53347839b7036260927784.jpg" width="30" height="30"/></td>
          <td>Phil Beene</td>
          <td></td>
          <td class="text-right">3789</td>
        </tr>
        <tr>
          <td><img src="https://www.nudgeyourself.com/uploads/userpic/54419e52e7fe3886328786.jpg" width="30" height="30"/></td>
          <td>Joe Fatora</td>
          <td></td>
          <td class="text-right">566</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="cta jumbotron text-center">
        <h3><small>Track your Health, Track your Progress</small></h3>
        <h2>Get <span class="txt-branded">Nudge</span></h2>
         <button type="button" class="btn btn-primary btn-lg">Learn more about Nudge</button>
        <h5><small>Available on iOS and Android devices</small></h5>
      </div>
    </div>
  </div>
</div>