<div class="row">
   <div class="col-md-12 text-center">
     <h1>the SHOWDOWN</h1>
     <small>Powered by <strong class="text-branded">Nudge</strong></small>
     <div class="row date" ng-if="startDate">
        <strong class="arrow-left" ng-click="changeDate(true)">&#60;&nbsp;</strong>
        <span>{{startDate*1000 | date:'MMM dd'}} - {{endDate*1000 | date:'MMM dd'}}</span>
        <strong class="arrow-right" ng-click="changeDate(false)" ng-class="{now: now}">&nbsp;&#62;</strong>
      </div>
      <div ng-if="!now">
        <h1 ng-if="!now" class="text-branded">Winner: {{companies[0].name}}</h1><br/><br/>
      </div>
  </div>
  <div class="row">
    <div class="col-md-4" ng-repeat="company in companies">
      <table class="table table-hover">
        <thead>
          <tr>
            <th ng-if="company.branding_logo_url"><img ng-src="{{company.branding_logo_url}}" width="30" height="30"></th>
            <th>
              <a href="{{company.url}}" target="_blank">{{company.name}}</a>
            </th>
            <th ng-if="company.branding_logo_url === null"></th>
            <th class="text-right">{{company.steps}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in company.users">
            <td><img ng-src="{{user.photo_url}}" width="30" height="30"></td>
            <td>{{user.firstname}} {{user.lastname}}</td>
            <td class="text-right">{{user.steps}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="cta jumbotron text-center">
        <h3><small>Track your Health, Track your Progress</small></h3>
        <h2>Get <span class="text-branded">Nudge</span></h2>
         <a href="https://www.nudgeyourself.com" class="btn btn-primary btn-lg" target="_blank">Learn more about Nudge</a>
        <h5><small>Available on iOS and Android devices</small></h5>
      </div>
    </div>
  </div>
</div>